/* linea de comentario */



/* formas de aplicar estilos */
/* mediante nombre de etiqueta */
header {
    background-color: #FEFCF3;
    color: #6c0000;
}
 body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    background-color: #FEFCF3;
    margin: 20px;
    padding: 20px;
}

a {
  text-decoration: none;
    color: #FEFCF3;
}

li {
    list-style-type: none;
    padding: 10px;
    line-height: 110%;
}

/* mediante clase */

.logo {
    width: 100px;
    height: auto;
}

.navbar {
    background-color: #6c0000;
    padding: 10px;
    border-radius: 25px;
    color: #FEFCF3;
}

.camiseta {
    width: 200px;
    height: auto;
    margin: 10px;
    border: 2px solid #6c0000;
    border-radius: 10px;
}

.dropdown-u {
    background-color: #FEFCF3;
    border: 1px solid #F1E9C7;
    color: #A7A7A7;
}

h2 {
    color: rgb(147, 0, 0);
}

#explicacion {
    color: #6c0000;
}

  #myInput {
    padding: 20px;
    margin-top: -6px;
    border: 0;
    border-radius: 0;
    background: #f1f1f1;
  }

body #footer-u {
    color: #6c0000;
    align-items: center;
}

/* ruta de especificidad */